/* universal Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration-style: none;
  font-family: "poppins", sans-serif;
}

.header {
  width: 100%;
  height: 600px;
  background-image: url(./images/banner/banner1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.nav {
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header .nav .hero p,
.header .nav .hero h1,
button {
  text-align: end;
  margin: 10px 0;
}
button {
  padding: 5px;
  background-color: brown;
  color: white;
  border-radius: 2px;
}
h1 {
  font-size: 36px;
}
/* main section started  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section-1 {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}
.section-1-image,
.section-1-info {
  width: 50%;
}
.section-1-info p {
  margin: 5px;
}
.section-1-info h1 {
  margin-bottom: 20px;
}
i {
  margin-right: 5px;
}
/* main section 2 start  */
.main-section-2 {
  width: 1200px;
  margin: 200px 0;
}
.section-2-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.plans-items {
  display: flex;
  justify-content: space-evenly;
}
.item-1,
.item-2,
.item-3,
.item-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main section 3 start  */
.main-section-3 {
  width: 1200px;
  height: 300px;
  background-image: linear-gradient(transparent, rgba(123, 0, 0, 7)),
    url(./images/banner/banner3.png);
  background-position: center;
  background-size: 100%;
  border-radius: 10px;
}
.section-3 {
  position: relative;
  top: 30px;
  left: 40px;
}
.section-3 h1 {
  color: white;
}
.section-3 h1 button {
  background-color: maroon;
}
/* footer section started */
footer{
  width: 100vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  background-color: rgb(18, 17, 17);
}
.footer-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.footer-left,
.footer-right {
  width: 40%;
  color: #fff;
}
.footer-left-links{
  margin-top: 10px;
}
.footer-left-links a img{
  width: 40px;
  margin: 0 3px;
}
.footer-right input {
  margin: 20px 0 5px 0;
  display: block;
  padding: 20px;
  border-radius: 10px;
}
.footer-right button {
  padding: 20px;
  border-radius: 10px;
}
